name: Update README Profile

on:
  schedule:
    - cron: '0 0 * * *' # Se lance tous les jours à minuit
  workflow_dispatch:     # Te permet de le lancer à la main pour tester

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Run update script
        run: python update_readme.py

      - name: Push changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Mise à jour automatique du README"